
body {
	font-size: 14px;
	font-family: "Raleway", "Verdana", "Geneva", sans-serif;
	background-color:#eeeeee;
	color: #666666;
	text-align: center;
	margin: 0px;
}

/*
.projectdiv:hover {
   outline:1px solid black;
	background-color:#353535; 
}
*/

.gbl-title {
	font-family: "Roboto Light", "Verdana", "Geneva", sans-serif;
	font-size: 24px;
}

.gbl-title-menu {
	font-family: "Roboto Light", "Verdana", "Geneva", sans-serif;
	font-size: 16px;
	text-align: center;
	color: gray;

}

.gbl-title-menu a:link 				{ color: gray; text-decoration: none; }
.gbl-title-menu a:visited 			{ color: gray; text-decoration: none; }
.gbl-title-menu a:link:hover 		{ color: gray; text-decoration: none; }
.gbl-title-menu a:link:active 	{ color: gray; text-decoration: none; }
.gbl-title-menu a:visited:hover 	{ color: gray; text-decoration: none; }
.gbl-title-menu a:visited:active { color: gray; text-decoration: none; }

.gbl-title-icon {
	font-size: 16px;
	color: gray;
	/*padding: 18px;*/
}

.bi-bluesky::before {
    content: "";
    background-color: currentColor;
    -webkit-mask: url("bluesky.svg") no-repeat 50% 50%;
    mask: url("bluesky.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 16px;
    width: 16px;
}

.project-card {
	margin: 12px;
}

.project-image {
}

.project-title {
	font-family: "Raleway", "Verdana", "Geneva", sans-serif;
	font-size: 18px;
}

.project-desc {
	font-family: "Roboto Light", "Verdana", "Geneva", sans-serif;
	font-size: 14px;
}

.projectp {
	padding:6px;
}

.about-content {
	text-align: left;
}

a:link 				{ color:#FB8851; }
a:visited 			{ color:#FB8851; }
a:link:hover 		{ color:#FB8851; background-color:#eeeeee; }
a:link:active 		{ color:#FB8851; background-color:#eeeeee; }
a:visited:hover 	{ color:#FB8851; background-color:#eeeeee; }
a:visited:active 	{ color:#FB8851; background-color:#eeeeee; }
