
body {
	font-size: 12px;
	font-family: "Inconsolata", "Verdana", "Geneva", sans-serif;
/*	color: #777777;
	background-color:#ffffff; */
	color: #888888;
	background-color:#1e1e1e;
	text-align: center;
	margin: 20px;

	background-image:url("website_bg.png");
    background-repeat: repeat-y;
    background-position: center top;
/*    background-attachment: fixed;*/
}
#customdiv {
	padding:2px 0px;
	margin:auto; 
	width:600px;
	height:auto;
/*	background-color:#eeeeee; */
	background-color:#111111;
}
#introdiv {
	margin:auto; 
	width:500px;
	height:auto;
}
#infodiv {
	padding:10px 10px;
	margin:auto; 
	width:500px;
	height:auto;
}

#projectdiv {
	padding:12px 12px;
	margin:10px 29px; 
	height:auto;
	overflow:auto;
/*	background-color:#e5e5e5; */
	background-color:#252525; 
}
/*
#projectdiv:hover {
   outline:1px solid black;
	background-color:#353535; 
}
*/

#projectpheading {
	padding:0px 2px;
	margin-top:0px;
	margin-bottom:10px;
	text-align:left;
	color: #bbbbbb;
}

#projectp {
	padding:0px 3px;
	margin:auto; 
	text-align:left;
}

#projectimg {
	padding:0px 3px;
	float:right;
}
/*
#projectimg:hover {
	width:300;
	height:auto;
}
*/

canvas {
	display : inline;
}

li {
	text-align: left;
	padding:0px 0px;
	margin: 0px 30px;
}

a:link 				{ color:#FB8851; }
a:visited 			{ color:#FB8851; }
a:link:hover 		{ color:#ffffff; background-color:#777777; }
a:link:active 		{ color:#ffffff; background-color:#777777; }
a:visited:hover 	{ color:#ffffff; background-color:#777777; }
a:visited:active 	{ color:#ffffff; background-color:#777777; }
